<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        
        <!-- css code -->
        <style>
            body { /*pad the body section to avoid overlapping with the navbar*/ 
                padding-top:70px; 
            }
            hr { 
                display:block;
                margin-top:0.5em;
                margin-bottom:0.5em;
                margin-left:auto;
                margin-right:auto;
                border-style:inset;
                border-width:1px;
            } 
            .goog-menu-vertical { /*limit the category filter dropdown list item number*/
                max-height:100px;
                overflow-y:auto;
            }
            .google-visualization-table-th { /* center the google table chart head */
                text-align: center;
            }

        </style>
        </style>
        
        <!-- jQuery code -->
        <script>
            $(document).ready(function() {
                // google charts essentials
                google.charts.load('current', {'packages':['corechart', 'controls']});

                // necessary variables
                var databaseURL = "/sparql";
                var unitPrefix = "http://nanomine.tw.rpi.edu/ns/unit/";
                var samplePrefix = "http://nanomine.tw.rpi.edu/sample/";
                var compoundPrefix = "http://nanomine.tw.rpi.edu/compound/";
                var sioPrefix = "http://semanticscience.org/resource/";
                var materialsminePrefix = "http://materialsmine.org/ns/";
                var chartWidth = $(window).width();
                var chartHeight = $(window).height()/2;
                var tableWidth = chartWidth*0.9+"px";
                var tableHeight = chartHeight+"px";
                var dashboard = $("#dashboard");

                // data cache
                var geoetryList = [];
                var geometryListMap = new Map();
                var effectivePropertyList = [];
                var effectivePropertyMap = new Map();
                var propertyList = [];
                var propertyMap = new Map();

                $("#first").click(function(){
                    alert("Value: "+ $("#sometext").val());
                });


                // database overview button
                $("#db").click(function() {
                    dashboard.html("<h1>Under Construction</h1>");
                });

                // material effective property dashboard
                $("#mp").click(function() {
                    dashboard.empty();
                    dashboard.append('<h1>Material Effective Property Dashboard</h1>');
                    dashboard.append('<table class="table"><thead><tr><th scope="col" class="text-center">choose one material effective property as x axis: </th><th scope="col" class="text-center">choose one material effective property as y axis:</th></tr></thead><tbody><tr><td><select id="material-effective-property-select-x" style="width:300px;"><option value="" distabled selected></option></select></td><td><select id="material-efefctive-property-select-y" style="width:300px;"><option value="" distabled selected></option></select></td><td><button type="button" class="btn btn-primary" id="viz-mp" style="width:300px;">Visualize</button></td></tr></tbody></table>');
                    dashboard.append('<table class="table"><thead><tr><th class="text-center" id="geometry"></th></tr></thead></table>');
                    dashboard.append('<div id="propertyChart"></div>');
                    dashboard.append('<br>');
                    dashboard.append('<div id="propertyTable"></div>');        
                    $("#material-effective-property-select-x").select2({data:effectivePropertyList});
                });
                
                // material property dashboard visualize button
                $(document).on('click', '#viz-mp', function() {
                    var mp_x = $("#material-effective-property-select-x").val(); 
                    var mp_y = $("#material-effective-property-select-y").val().substring(0, $("#material-effective-property-select-y").val().indexOf('(') - 1);
                    if(mp_x == "" || mp_y == "") alert("please choose x and y axis");
                    else if(mp_x == mp_y) alert("please choose different x and y axis for material effective property");
                    var chartData = [['sample', mp_x, mp_y, 'control', 'bubble size', mp_x, mp_y, 'geometry']];
                });

                $("#home").attr("title", "Materialsmine HomePage");
                
            });

        // download csv data
        function downloadCSV(csv, filename) {
            var csvFile; 
            var downloadLink;
            csvFile = new Blob([csv], {type:"text/csv"});
            downloadLink = document.createElement("a");
            downloadLink.download = filename;
            downloadLink.href = window.URL.createObjectURL(csvFile);
            downloadLink.style.display = "none";
            document.body.appendChild(downloadLink);
            downloadLink.click();
        };
        // export data table as csv file
        function exportTableToCSV(filename){
            var csv = [];
            var rows = document.querySelectorAll(".google-visualization-table-table tr");
            for(var i = 0; i < rows.length; i++) {
                var row = [], cols = rows[i].querySelectorAll("td, th");
                for(var j = 0; j < cols.length; j++)
                    row.push(cols[j].innerText);
                csv.push(row.join(","));
            }
            // download csv file
            downloadCSV(csv.join("\n"), filename);
        };
        </script>
    </head>
    
    <body>
        <div class="navbar navbar-fixed-top">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="http://nanomine-vis.oit.duke.edu/viz" class="navbar-brand">Materialsmine Data Dashboard</a>
                    </div>
                    <!--add option buttons here-->
                    <ul class="nav navbar-nav"></ul>
                    <a href="http://nanomine.northwestern.edu:8000/" class="btn navbar-btn btn-info" role="button"><span class = "glyphicon glyphicon-home" title="Nanomine HomePage"></span></a>
                    <input type="text" id="sometext" value="">
                    <button id="first">Submit</button>
                    <button type="button" class="btn btn-primary navbar-btn" id="fp">Filler Descriptor vs Material Property</button>
                    <button type="button" class="btn btn-primary navbar-btn" id="mp">Material Effective Property Dashboard</button>
                    <button type="button" class="btn btn-primary navbar-btn" id="ms">Material Spectrum</button>
                    <button type="button" class="btn btn-primary navbar-btn" id="db">Database Overview (under construction)</button>
                    

                </div>
            </nav>
        </div>
        <!-- visualization dashboard section -->
        <div class="text-center" id="dashboard">
            <div class="jumbotron">
              <h1 class="display-3">Materialsmine Visualization Dashboard</h1>
              <p class="lead">Welcome! Explore a series of visualization revealing data information by clicking on the buttons in the navigation bar.</p>
            </div>

            <div class="row">
              <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
              <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <h4 class="text-left">In this prototype data visualizer, data in MaterialsMine are visualized in various ways. At present, four functions are being developed and preliminary versions are available in the navigation bar:</h4>
            <a href="https://imgur.com/Thtu5w6"><img src="https://i.imgur.com/Thtu5w6.png" title="source: imgur.com" /></a>
            <br>


            <h4 class="text-left">While many of these functions are under construction, an example illustrating the types of visualizations which will be readily available in the next months is below. </h4>
            <p class="text-left">To re-createthe sample visualization shown below: </p>
            <p class="text-left"> •   select the first tab (“filler descriptor vs material property”) </p>
            <p class="text-left"> •   select“mass fraction”as the x-axis </p>
            <p class="text-left"> •   select “glass transition temperature” as the y-axis </p>
            <p class="text-left"> •   Refinement can be obtained by playing with other features on the page </p>
            <p class="text-left"> •   A table below the graph contains the information of the graph in tabular form and will eventually point to individual records for each sample. </p>
            <p class="text-left"> •   In a month, there will be control samples labeled as such in NanoMine allowing for difference in property plots.  ????</p> 
            <a href="https://imgur.com/woeikox"><img src="https://i.imgur.com/woeikox.png" title="source: imgur.com" /></a>        
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
            </div>
            </div>
        </div>
    </body>
</html>